[Desktop Entry]
Type=Application
Exec=clean-chromium
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=jll
Name=jll
Comment[en_US]=
Comment=
