[Desktop Entry]
Type=Application
Exec=/usr/bin/optionDetect
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=jll
Name=jll
Comment[en_US]=
Comment=
